:root,
::backdrop {
  color-scheme: dark;
  --goban: hsl(37, 70%, 60%); /* #e0aa52 */
  --red: hsl(6, 50%, 50%);
  --blue: hsl(203, 25%, 50%);
  --dark-blue: hsl(228, 50%, 15%);
  --green: hsl(94, 35%, 35%);
  --dark-green: hsl(94, 7%, 25%);
  --bg: var(--dark-green); 
  --accent-bg: var(--dark-blue);
  --marked-text: black;
  --marked: var(--green);
  --accent: var(--goban);
  --accent-hover: color-mix(in srgb, var(--accent), white 20%);
  --accent-text: var(--bg);
  --text: #dcdcdc;
  --text-light: #ababab;
  --code: var(--text-light);
  --preformatted: var(--code);
  --disabled: #111;
  --input-bg: black;
}

kbd {
  color: var(--text);
}

mark[warn] {
  background-color: var(--red);
}

button,
mark {
  color: var(--marked-text);
}

code {
  background-color: var(--accent-bg);
  border-radius: var(--standard-border-radius);
  padding: .15em;
}

input[type=checkbox]:checked:after {
  background-color: var(--input-bg);
}

li {
  line-height: 2em;
}

aside nav {
  margin: 1.5rem 0;
}

aside nav a {
  display: block;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  margin-top: 0;
}


main h1 a:link,
main h1 a:visited,
main h2 a:link,
main h2 a:visited,
main h3 a:link,
main h3 a:visited,
main h4 a:link,
main h4 a:visited,
main h5 a:link,
main h5 a:visited,
main h6 a:link,
main h6 a:visited {
  color: var(--text);
  text-decoration: none;
}

main h1 a:hover,
main h2 a:hover,
main h3 a:hover,
main h4 a:hover,
main h5 a:hover,
main h6 a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.loading {
  animation: fadeIn 1s infinite alternate;
}

details pre {
  margin: 0;
  padding: 0;
  border: 0;
}

pre summary {
  margin-bottom: .5rem;
  color: var(--text);
  cursor: auto;
}

.goban {
  float: right;
  margin: 0 0 16px 10px;
}

section, article, .notice {
  clear: both;
}